@import '../../styles/app';

.root {
  width: $sidebar-width-open;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333333;
  color: #666666;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $navbar-height;
  width: 100%;
  background: #B40101;

  a img {
    width: $sidebar-width-open - 60px;
  }
}

.nav {
  padding: 10px 0;
  overflow-y: auto;
}
